html,
body,
#root,
.App {
  background: gray;
  width: 100%;
  height: 100%;
}

.sidebar-shown {
  z-index: 10;
  position: fixed;
  height: 100%;
  background: red;
  width: 30%;
  display: flex;
  left: 0%;
  transition: all 0.25s ease-in;
}

.sidebar-hidden {
  z-index: 10;
  position: fixed;
  height: 100%;
  background: black;
  width: 30%;
  display: flex;
  left: -25%;
  transition: all 0.25s ease-in;
}

.sidebar-shown nav,
.sidebar-hidden nav {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sidebar_nav {
  display: flex;
  flex-direction: column;
}

.close_sidebar {
  width: 10%;
  height: 100%;
  background: white;
  text-align: center;
}

.content {
  height: 98%;
  width: 90%;
  padding: 1% 5%;
  overflow: hidden;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ab_the_fold.grid {
  padding: 0 5%;
  width: 90%;
  display: flex;
  justify-content: center;
}

.manga-window {
  width: 30%;
  height: 100%;
}

.manga-window a {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 90%;
  height: 100%;
  position: relative;
}

.manga-window img {
  width: 95%;
  height: auto;
  margin: 0% 2.5%;
}

.series_data {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.series_data p {
  background: black;
  width: 100%;
  margin: 0.5px 0;
  opacity: 75%;
  text-align: center;
  font-size: 50%;
  border: 1px solid white;
}

a {
  text-decoration: none;
  color: white;
}

.manga-viewer {
  background: black;
  display: flex;
  width: 100%;
  height: 100%;
}

.manga-container {
  flex-grow: 95;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
}

/* .manga-container img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
} */

.manga-panel-center {
  position: relative;
  right: 0%;
  left: 0%;
  display: flex;
  transition: width 0.2s ease-in;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: visible;
  margin-left: 5%;
}

.manga-panel-left,
.manga-panel-right {
  position: relative;
  right: 0%;
  left: 0%;
  display: flex;
  transition: all 0.2s ease-in;
  width: 0%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* .manga-panel-right {
  position: relative;
  right: 0%;
  left: 0%;
  display: flex;
  transition: width 1.2s ease-in;
  align-items: center;
  justify-content: center;
  width: 0%;
  overflow: hidden;
} */

/* .manga-panel-left img,
.manga-panel-center img,
.manga-panel-right img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
} */

.manga-pager {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-grow: 5;
  margin: 1%;
}
.manga-pager div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: white 1px solid;
  height: 50%;
  width: 100%;
}

.manga-panel-left img,
.manga-panel-center img,
.manga-panel-right img {
  max-width: 100px;
}

@media only screen and (max-width: 800px) and (orientation: portrait) {
  .manga-panel-left img,
  .manga-panel-center img,
  .manga-panel-right img {
    max-width: 250px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .manga-panel-left img,
  .manga-panel-center img,
  .manga-panel-right img {
    max-width: 800px;
  }
}

@media (min-width: 320px) and (orientation: portrait) {
  .manga-panel-left img,
  .manga-panel-center img,
  .manga-panel-right img {
    max-width: 314px;
  } /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
  .manga-panel-left img,
  .manga-panel-center img,
  .manga-panel-right img {
    max-width: 120px;
  } /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 481px) and (orientation: portrait) {
  .manga-panel-left img,
  .manga-panel-center img,
  .manga-panel-right img {
    max-width: 314px;
  } /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 641px) {
  .manga-panel-left img,
  .manga-panel-center img,
  .manga-panel-right img {
    max-width: 130px;
  } /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 641px) and (orientation: portrait) {
  .manga-panel-left img,
  .manga-panel-center img,
  .manga-panel-right img {
    max-width: 420px;
  } /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 961px) {
  .manga-panel-left img,
  .manga-panel-center img,
  .manga-panel-right img {
    max-width: 800px;
  } /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  .manga-panel-left img,
  .manga-panel-center img,
  .manga-panel-right img {
    max-width: 800px;
  } /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  .manga-panel-left img,
  .manga-panel-center img,
  .manga-panel-right img {
    max-width: 800px;
  } /* hi-res laptops and desktops */
}

.upload_container img {
  margin: 1%;
}
.upload_container {
  width: 90%;
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.upload_meta {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 0.5%;
}

.series_list .active {
  background: red;
}
